header{
    background-color: rgb(57, 68, 214);
}

.tituloPrincipal{
    text-align: center;
    padding: 20px 0px;
}

.nav{
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    background-color: royalblue;
}

.link{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: silver;
}

#link--inicio{
    margin-left: 20px;
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
    font-size: 17px;
}

#icono{
    margin: 10px 0px 0px 890px;
    text-decoration: none;
    color: black;
}

#icono:hover {
    color: silver;
}

.botonsumaresta{
    width: 30px;
    color: white;
    background-color: blue;
}

.botonconfirmar{
    width: 114px;
    color: white;
    background-color: blue
}

.botonfinalizar{
    color: white;
    background-color: blue
}

.botonvermas{
    color: white;
    background-color: blue
}

.articulo{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    padding: 20px;
    margin: 10px;
    border: solid 1px black;
    background-color: cornflowerblue;
    color: white;
}

.articuloDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 10px;
    border: solid 1px black;
    background-color: cornflowerblue;
    color: white;
}

.itemListContainer{
    display: flex;
    flex-direction: column;
}

.imgDetalle{
    width: 90px;
    height: 130px;
}

.titulo--imgDetalle{
    display: flex;
    flex-direction: row;
}

footer{
    background-color: rgb(57, 68, 214);
    text-align: center;
    padding-top: 10px;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagenProducto{
    width: 150px;
    height: 200px;
    padding-left: 10px;
}

.articulo--container{
    display: flex;
}

.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
}